<article class="row card post component">
  {{- if and (default true .Page.Site.Params.pinned) .Page.Params.pinned -}}
    {{- $pinnedPosts := .PinnedPosts -}}
    {{- with .Page.File.UniqueID -}}
      {{- if in $pinnedPosts . -}}
      <span class="position-absolute start-0 top-0 text-accent"><i class="fas fa-thumbtack" data-fa-transform="rotate-45"></i></span>
      {{- end -}}
    {{- end -}}
  {{- end -}}
  <div class="card-header">
    <h2 class="card-title post-title">
      <a href="{{ .Page.Permalink }}">{{ partial "helpers/title" .Page }}</a>
    </h2>
  </div>
  <div class="card-body">
    {{ if $.Page.Params.Images }}
    {{ partial "helpers/image" (dict "filename" (index $.Page.Params.Images 0) "alt" $.Page.Params.Title "class" "img-fluid" "resources" $.Page.Resources) }}
    {{- else -}}
    {{- $images := $.Page.Resources.ByType "image" -}}
    {{- $featured := $images.GetMatch "*feature*" -}}
    {{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
    {{- with $featured -}}{{ partial "helpers/image" (dict "filename" (  $featured.Permalink  ) "alt" $.Page.Params.Title "class" "img-fluid" "resources" $.Page.Params.Resources) }}
    {{- end -}}
    {{- end -}}
    {{- partial "post/meta" .Page -}}
    <div class="post-summary">
      {{ partial "post/excerpt" .Page }}
    </div>
  </div>
</article>
