<div class="card-footer">
    <div class="post-navs d-flex justify-content-evenly">
        <a class="btn btn-sm btn-outline-primary social-share-button" rel="noopener noreferrer"
            aria-label="Twitter Share Button" target="_blank"
            href="https://twitter.com/intent/tweet?title={{ .Title }} via @ElanHasson&url={{ .Permalink | absURL }}">
            <i class="fab fa-fw fa-twitter"></i> Twitter
        </a>
        <a class="btn btn-sm btn-outline-primary social-share-button" rel="noopener noreferrer"
            aria-label="Facebook Share Button" target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | absURL }}">
            <i class="fab fa-fw fa-facebook-f"></i> Facebook
        </a>
        <a class="btn btn-sm btn-outline-primary social-share-button" rel="noopener noreferrer"
        aria-label="LinkedIn Share Button" target="_blank"
        href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink | absURL }}&title={{ .Title }} via @Elan-Hasson">
        <i class="fab fa-fw fa-linkedin-in"></i> LinkedIn
    </a>
        <button class="btn btn-sm btn-outline-primary social-share-button platform-sharer" rel="noopener noreferrer"
        aria-label="Share Button" target="_blank"
        onclick="javascript:window.shareIntent('{{ .Title }}', '', '{{ .Permalink | absURL }}');">
        <i class="fas fa-fw fa-share-alt"></i> Share
    </button>
    </div>
</div>